    h1 {
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        /*Formato de letra*/

    }

    h2 {
        color: black;
        text-transform: uppercase;
        /*Formato de letra*/
    }

    p {
        color: green;
        font-size: 20px;
        background-color: black;
        /*Formato de letra*/
    }

    .destacados {
        color: orange;
        /*con parrafo de referencia*/
        font-weight: bold front-style italic;
    }

    #rojo {
        width:200px;
        height:300px;
        background-color: blue;
        border: 2px solid red;
        padding: 20px;
        box-sizing: border-box;
    }


    #azul {
        width:200px;
        height:300px;
        background-color: blue;
        margin left: 120px;
    }
