/* Fondo general */
body {
    background-color: lightyellow;
    font-family: Comic Sans MS, Arial, sans-serif;
    margin: 30px;
}

/* Título principal */
h1 {
    color: red;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

/* Subtítulos */
h2 {
    color: purple;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
}

/* Párrafos */
p {
    font-size: 18px;
    color: darkblue;
}

/* Presentación */
.presentacion {
    background-color: pink;
    padding: 10px;
    border: 2px solid violet;
    border-radius: 10px;
}

/* Listas */
ul, ol {
    background-color: lightcoral;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

/* Recuadro de colores */
#colores {
    background-color: lightseagreen;
    border: 1px dashed yellow;
    padding: 15px;
    margin-top: 2px;
    color: white;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
div :hover{
background-color: burlywood;
}

span::after {
    content: " 🌟";
    color: gold;
    }